.patientMainDiv{
    background-color: cadetblue;
    opacity: 0.9;
    margin: 40px;
}
.patientInnerDiv{
    padding:30px;
}
.patientSearchForm{
    align-items: center;
    
}
.patientCardDiv{
    padding-top: 30px;
}
/* ---------------------------- */
.patientSearchDiv{
    padding: 30px;
    min-height: 500px;
    max-height: 600px;
    background-color: cornsilk;
    opacity: 0.8;
    text-align: center;
}
.searchBtn{
    margin: 1vh;
}
.serchTearms{
    display: flex;
    padding: 5px;
    justify-content: space-between;
}