.docloginMain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sidenavbar {
  min-height: 400px;
  background-color: rgb(31, 39, 68);
  padding-top: 20px;
  color: lavender;
}
.signupBar {
  background-color: #526a9c;
  min-height: 400px;
  color: lavender;
}
.login-main-text {
  padding-top: 20%;
  padding-left: 20%;
}
.main {
  padding: 0px 10px;
}
.main input {
  width: 400px;
}
.main button {
  margin-right: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .patienLoginForm {
    padding: 5% !important;
  }
}
