.errorPopupbox {
    color: black;
    position: sticky;
    background: #25131350;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin: 2.5%;

  }
  
  .errorPopupinner {
    position: sticky;
    width: 70%;
    height: 70%;
    background: rgb(226, 219, 219);
    border-radius: 4px;
    padding: 20px;
    margin: 50px;
    border: 1px solid #999;
  }
  .errorContent{
    color: brown;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .errorPage{
    background-color: rgb(240, 131, 176);
  }