.profileTopDiv{
    height: 200px;
    background-color: aqua;
}
.proLinksDiv{
    height: 200px;
    background-color: rgb(96, 114, 114);
}
.profileAboutDiv{
    height: 200px;
    background-color: rgb(157, 129, 235);
}
.profileCommentsDiv{
    height: 200px;
    background-color: rgb(207, 235, 129); 
}