.doctorCrad{
    opacity: 0.8;
    margin: 10px 10px 0px 10px;
    color: black;
    background-color: rgb(173, 240, 218);
}
.doctorCrad:hover{
    background-color: aquamarine;
}
.doctorCrad div{
    padding: 10px;
}
.docImagediv{
    padding: 0px !important;
}
.docImage{
    /* width: 40%; */
    object-fit: cover;
    height: 150px;
}
.contactIcon{
    width: 20%;
}
.docCardBtn{
    background-color: #155B7F;
    border-radius: 0;
    color: cornsilk;
    height: 10vh;
    z-index: 1;
}
.doctorMoreDetails{
    display: flex;
    flex-direction: column;
}
.commentRow{
    background-color: rgb(202, 245, 231);
    margin: 0px 10px 10px 10px;
    display: flex;
    align-items: center;
}
.commentRow p{
    line-height: 0.5;
}
.commentRowDiv2{
    padding-right: 0vw;
    display: flex;
    justify-content: right;
}