
.covidWarnning{
    background-color: #D88152;
    text-align: center;
    align-items: center;
}
.covidWarnning img{
    width: 1%;
    height: 50%;
    margin-left: 10px;
}
.covidWarnning:hover{
    cursor: pointer;
}
.searchBox{
    padding-top: 100px;
    text-align: center;
    height: 300px;
}
.searchBox h2{
    padding-bottom: 50px;
    color: #0379C7;
}
.form-select{
    width: 200px;
}
.formInput{
    display: flex;
    justify-content: right;
}
.formBtn{
    display: flex;
    justify-content: left;
}
/* .mainLowerSection{
    height: 500px;
} */