.mainAppointmentContainer{
    background-color: rgb(248, 227, 201);
    opacity: 0.9;
}
.appointmentCardHead{
  background-color: antiquewhite;
  height: 120px;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}
.appointmentMainDiv{
    padding-left: 0;
}
.appointmentCard{
    background-color: #E2F0F0;
    margin: 10px;
    padding: 10px;
}
.patientDetlsBtn{
    background-color: #155B7F;
    border-radius: 0;
    color: cornsilk;
    height: 10vh;
}
.createAppointmentBtn{
    background-color: #218838;
    height: 50px;
    color: cornsilk;
}
.cardDeleteBtn{
    float: right;
}
.formSubBtn{
    margin-top: 20px;
}