.doccardImageDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.serchDoctor{
    background-color: bisque;
    margin-top: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.newAppointmentForm{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
}
.doctorCrad img{
    height: 100px;
    width: 120px;
}